{{!-- {{{#partial"header"}} --}}

{{#partial "header"}}

{{/partial}}
{{#partial "content"}}

    <h1>Meet the Heros</h1>

    {{#if heros}}
        {{#each heros}}
            <div class ="col-md-4 card">
                <h3>Name: {{name}} </h3>
                <p>Age: {{age}}</p>
                <p>Power: {{power}}</p>
                <p>Weakness: {{weakness}}</p>
                <p>{{name}}</P>
            </div>
        {{/each}}
        {{else}}
            <p>No heroes added yet!!</p>
    {{/if}}

{{/partial}}

 {{#partial"footer"}}

 {{/partial}}
{{> layout.hbs}}

